.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 70px;
    top: 0;
    transition: all 0.7s ease;
}

.blur {
    background-color: rgba(1, 17, 26, 0.55);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 10px #2d0057;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.nav-logo a {
    font-size: 28px;
    color: #d1bfff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-logo a:hover {
    text-shadow: 0 0 6px #caa7ff;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #d1bfff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease, text-shadow 0.3s ease;

    &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0%;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
        transition: width 0.3s ease;
    }

    &:hover::after {
        width: 100%;
    }

    &:hover {
        color: #ffffff;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #8c52ff;
    }
}

.nav-icon {
    font-size: 22px;
    transition: 0.3s ease;
}

.nav-links li a:hover .nav-icon {
    color: #ffffff;
    filter: drop-shadow(0 0 5px #8c52ff);
}

.active a {
    color: #ffffff;
    text-shadow: 0 0 8px #8c52ff;
}